html {
    background: linear-gradient(to bottom, #bd3a3a, #c68888);
}

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 70px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  
}

p {
  color: rgb(0, 0, 0);
  line-height: 1.5;
  font-size: 10px;
}



img {
  float: inline-start;
  width: 100%;
  height: auto;
  margin: 20px 0;
}

li {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 5px;
}

/* header and navbar flexbox!! */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 100px;
  text-align: center;
  color: rgb(15, 13, 13);
}

nav {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #030303;
  padding: 25px;
  text-align: center;
  border-bottom: 2px solid #000000;
  
 


}

nav a,
nav button {
  text-decoration: none;
  color: white;
  background-color: #000000;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

nav a:hover,
nav button:hover {
  background-color: #6a6666;
}

/* clickable boxes with the flex box*/
.box-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.box {
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  max-width: 200px;
  transition: background-color 0.3s;
}

.box a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.box:hover {
  background-color: #6a6666;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 12px;
  color: #555;
}

nav a {
  background-color: #ccc;
  color: black;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
}

nav a:hover {
  background-color: #5f5c5c;
}

p em {
  font-size: 30px;
  color: #ffffff;
}

.textMainPage p {
  display: block;
  width: 45%;
  margin: 50px 0;
  padding: 15px;
  border: 2px solid #000000;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 10px;
}

.titleMainPageText {
  display: block;
  width: 45%;
  margin: 50px 0;
  padding: 15px;
  border: 2px solid #000000;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;

}

.HeaderHomePage, .HeaderAboutUs, .HeaderCategories, .HeaderMaps, .HeaderFAQ, .HeaderContactUs {
  display: block;
  width: 101%;
  margin: 50px 0;
  padding: 15px;
  border: 2px solid #000000;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
}