html {
background-image: url('img/BackgroundMarkup.jpg');  
background-size: cover;  
}

body {
  margin: 0;
  font-family: sans-serif;
}

html, body {
  height: 100%;
}


h1 {
  color: rgb(0, 0, 0);
  font-size: 70px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  
}

p {
  color: rgb(0, 0, 0);
  line-height: 1.5;
  font-size: 10px;
}

li {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 5px;
}

/* header and navbar flexbox!! */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 100px;
  text-align: center;
  color: rgb(15, 13, 13);
}

nav {
  
  position: fixed;
  top: 0;
  left: 10;
  width: 100%;
  background-color:  #000000 ;
  padding: 25px;
  border-bottom: 2px solid #000000;
  text-align: right;
 }



.box-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.box {
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  max-width: 200px;
  transition: background-color 0.3s;
}

.box a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.box:hover {
  background-color: #6a6666;
}

footer{
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
}

footer p {
 
  text-align: center;
  padding: 5px;
  font-size: 12px;
  color: #ffffff;
}

nav a {
  background-color: #D72638;
  color: rgb(255, 255, 255);
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
}

nav a:hover {
  background-color: #475cb3;
}

p em {
  font-size: 30px;
  color: #ffffff;
}

.textMainPage1  {
  display: block;
  margin: 0 auto;
  width: 70%;
  padding: 15px;
  border: 2px solid #000000;
  background-color: #C5C5C5;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.textMainPage1 p {
  font-size: 20px;
}
.textMainPage2  {
  display: block;
  margin: 0 auto;
  width: 70%;
  padding: 15px;
  border: 2px solid #000000;
  background-color: #C5C5C5;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;

  
}
.textMainPage2 p {
  font-size: 20px;
  
}

/** Call to action buttons **/

.CTAButtonHOMEPAGE p{

  font-size: 24px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.CTAButtonHOMEPAGE {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  gap: 15px;
}

.CTAButtonAboutMePage p{

  font-size: 24px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.CTAButtonAboutMePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  gap: 15px;
}

.cta-button{
background-color: #D72638;
color: #ffffff;
padding: 10px 30px;
font-size: 25px;
border-radius: 8px;


}

/** Text blocks **/

.textAboutMe1  {
  display: block;
  margin: 0 auto;
  width: 70%;
  padding: 15px;
  border: 2px solid #000000;
  background-color: #C5C5C5;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.textAboutMe1 p {
  font-size: 20px;
}
.textAboutMe2   {
  display: block;
  margin: 0 auto;
  width: 70%;
  padding: 15px;
  border: 2px solid #000000;
  background-color: #C5C5C5;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;

  
}
.textAboutMe2 p {
  font-size: 20px;
  
}

.textCategories1  {
  display: block;
  margin: 0 auto;
  width: 70%;
  padding: 15px;
  border: 2px solid #000000;
  background-color: #C5C5C5;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.textCategories1 p {
  font-size: 20px;
}

.textCategories2, .textCategories3, .textCategories4, .textCategories5{
  width: 45%;
  padding: 15px;
  border: 2px solid #000000;
  background-color: #C5C5C5;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.textCategories2 p , .textCategories3 p , .textCategories4 p , .textCategories5 p {
font-size: 20px;
}


.textMaps1{
   display: block;
  margin: 0 auto;
  width: 75%;
  padding: 15px;
  border: 2px solid #000000;
  background-color: #C5C5C5;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.textMaps1 p {
  font-size: 20px;
}

.introIMG {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin: 50px;

  

}



.titleMainPageText {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  width: 65%;
  margin: 50px 0;
  padding: 15px;
  border: 2px solid #000000;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
}

.introImage {
  flex: 1; 
  max-width: 45%; 
  margin-left: 20px; 
}

.introImage img {
  width: 100%; 
  height: auto; 
  border-radius: 10px; 
  border: 2px solid #000; 
}

.introImage figcaption {
  text-align: center; 
  font-size: 22px; 
  color: #ffffff; 
  margin-top: 8px; 
}


/* Contact form - Contact us page (tut)*/

.contactFormSection {
  display: block;
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  background-color: #636363;
  border: 2px solid #000;
  border-radius: 10px;
}

form fieldset {
  border: none;
  padding: 0;
}

form legend {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

form button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.ContactIntro {
display: block;
background-color: #ffffff;
padding: 10px;
margin-bottom: 4px;
border: 2px solid #000000;
font-size: 30px;

}


  

.HeaderHomePage h2,
.HeaderHomePage p,
.HeaderHomePage em {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  text-align: center;
}





.ContactButton {
color: #ffffff;
background-color: #656565;

}

/* possible layout for the logo in my navbar and footer
.navbar-logo {
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 20px;
  margin-bottom:0px;
  margin-top: 0px;
}


.logo-footer{
  height: 100px;
  width: 100px;
  margin-bottom: 1px;
}
**/

/** Images homepage **/

.introIMG { 
  display: flex; 
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin: 30px auto;
  width: 40%;
} 

.introIMG figure { 
  width: 45%; 
  text-align: center;
 }
  
 .introIMG img 
 { width: 100%; 
  aspect-ratio: 4 / 3;  
  object-fit: cover;    
  border-radius: 10px;
  border: 2px solid #000;
 }

 .AboutMeIMG { 
  display: flex; 
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin: 30px auto;
  width: 40%;
} 

.AboutMeIMG figure { 
  width: 45%; 
  text-align: center;
 }
  
 .AboutMeIMG img 
 { width: 100%; 
  aspect-ratio: 4 / 3;  
  object-fit: cover;    
  border-radius: 10px;
  border: 2px solid #000;
 }


/**Category page image placement**/

.categoryBlock {
display: flex;
flex-wrap: nowrap;
gap: 4%;
margin: 40px auto;
padding: 0 4%;
align-items: stretch;
}

.categories1IMG {
width: 45%;
height: auto;
object-fit: cover;
border-radius: 8px;
float: none;
margin: 0;
padding: 0 ;
}

.textCategories2{
  width: 45%;
  padding: 15px;
  background-color: #C5C5C5;
  border: 2px solid #000000;
  font-size: 20px;

}

/** Maps page iframes **/

.mapBlock {
  text-align: center;
  margin: 50px auto;
  padding: 0 4%;
  max-width: 900px;
}

.mapBlock h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #ffffff;
  text-shadow: 
  -1px -3px 0 #000000, 1px -3px 0 #000000, 
  -1px 3px 0 #000000, 1px 3px 0 #000000, 
  -3px -1px 0 #000000, 3px -1px 0 #000000,
  -3px 1px 0 #000000, 3px 1px 0 #000000, 
  -3px -3px 0 #000000, 3px -3px 0 #000000, 
  -3px 3px 0 #000000, 3px 3px 0 #000000;
}

.mapBlock iframe {
  width: 100%;
  height: 400px;
  border: 2px solid #000000;
  border-radius: 8px;
}

/** FAQ PAGE QUESTIONS & ANSWERS */



.FAQBOX1 , .FAQBOX2 , .FAQBOX3 , .FAQBOX4 {
  background-color: #c5c5c5;
  width: 45%;
  height: 275px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 12px;
  padding: 10px;
  
}

.FAQBOX1 p,
.FAQBOX2 p,
.FAQBOX3 p,
.FAQBOX4 p {
  font-size: 20px;
}

.FAQCONTAINER {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
margin: 30px auto;
padding: 0 4px;
}


